

/* Header (Top part) */
.header {
    padding: 50px;
    background-color: aliceblue;
}

/* Navigation Bar */
nav {
    background-color: rgb(91, 124, 176);
 }
 nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 }
 nav li {
    float: left;
 }
 nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }
 nav a:hover {
    background-color: #111;
 }

  
/* Body (whole page) */
body {
    width: 100%;
    background-color: rgb(201, 228, 246);
    text-align: center;
  }
  
h1 {
    text-align: center;
    color: rgb(91, 124, 176);
}

h2 {
    text-align: center;
    color: rgb(91, 124, 176);
}

.about-me-title {
    text-align: left;
    position: relative;
    top: -550px;
    right: -750px
}

.about-me-desc {
    color: rgb(100, 130, 180);
    text-align: left;
    font-size:larger;
    position: relative;
    top: -550px;
    right: -675px;
    line-height: 150%;
}

.first-pic {
    opacity: 50%;
    position: relative;
    top: 50px;
    left: -350px;
}

.second-pic {
    opacity: 50%;
    position: relative;
    top: -5000;
    left: 350px;
}

.portfolio-button {
    color: white;
    background-color: rgb(91, 124, 176);
    padding: 20px 20px;
    position: relative;
    left: -650px;
    top: -400px;
    border-radius: 20px;
}

p {
    color: #4C566A
}


  