body {
    padding-top: 4%;
    background-color: rgb(91, 124, 176);
    color: rgb(201, 228, 246);
}

.title {
    padding-top: 15%;
    text-align: center;
    font-size: 150px;
}

.bottom {
    color: rgb(201, 228, 246);
    padding-top: 2%;
    text-align: center;
    display: block;
    text-decoration: none;
}

.bottom:hover {
    transform: (scale(1.1));
}